<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MiniProyecto</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/adminlte.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-custom.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" style="padding-left:2em;" href="#"><b>MiniProyecto</b></a>
    </nav>

    <div class="container body-content wrapper flex-grow-1">
        @RenderBody()
    </div>

    <footer class="bg-dark">
        <p><b>&copy; @DateTime.Now.Year - MiniProyecto por Christian Cano</b></p>
    </footer>

    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/adminlte.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/myCode.js"></script>

</body>

</html>