@model IEnumerable<MiniProyecto.Models.Album>

@{
    ViewBag.Title = "Inicio";
}

<div class="py-2">
    <h5>Seleccione un álbum para obtener un listado de sus fotos...</h5>
</div>

<div class="py-2">
    <div class="row inline-block">
        <div class="col-md-12">
            <label for="album-list" id="album-selector-lbl">Albums</label>
            <select class="form-control select2" id="album-list">
                <option value="">(Seleccione un álbum...)</option>
                @foreach (var item in Model)
                {
                    <option value="@Html.DisplayFor(modelItem => item.Id)">@item.Id - @Html.DisplayFor(modelItem => item.Title)</option>
                }
            </select>
            <input class="btn btn-primary m-2" type="button" id="btnGetPhotos" value="Visualizar Álbum" />
        </div>
    </div>
</div>

<div id="photoTable" class="py-2"></div>

<div id="commentList" class="py-2"></div>